.hero .btn-book-a-table {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #2596be;
    box-shadow: 0 8px 28px #89adba;
  }
  .hero .btn-book-a-table:hover {
    background:#65d2f9;
    box-shadow: 0 8px 28px #89adba;
  }